In [3]:
#list comphrehension

In [4]:
a = list(int(input("enter value ")) for i in range(5))
print(a)

enter value 11
enter value 22
enter value 344
enter value 5666
enter value 777
[11, 22, 344, 5666, 777]

In [2]:
data= [21,34,566,87,89,77]
a = list(i for i in data if i%2 == 0)  #using list function
print(a)

[34, 566]

In [2]:
data = ["Apple","Ball","cat","dog","Fish"]
a = list(i for i in data if i[0].isupper())
a

['Apple', 'Ball', 'Fish']

In [12]:
data = {i:i**2 for i in range(1,11)}
data

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [5]:
a = ['Apple', 'Ball', 'Fish']
data = {i:i.lower() for i in a}
list(data.values())

['apple', 'ball', 'fish']

In [6]:
# Python Date and Time

In [14]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%c"))  #c is format for more see in w3school

2022
Sun Dec  4 16:58:04 2022

In [15]:
import datetime

x = datetime.datetime.now()

name = input("enter name = ")
y = datetime.datetime.now()  #this will show the time taken to execute this code
print(y-x)

enter name = Ram
0:00:34.452768

In [24]:
#to read the excel file
import pandas as pd
df = pd.read_excel('Book1.xlsx')
df

     1 Unnamed: 1
0  1.0        NaN
1  2.0      hello
2  NaN      world
3  3.0        NaN

In [26]:
# os package

import os
os.listdir()  #shows all the file in this folder

['.ipynb_checkpoints',
 'bill.csv',
 'bill.txt',
 'bonus topics.ipynb',
 'Book1.xlsx',
 'books.csv',
 'covid_data.csv',
 'data.csv',
 'data.txt',
 'data10.csv',
 'data2.csv',
 'database.ipynb',
 'File.ipynb',
 'Inheritance.ipynb',
 'new_data.csv',
 'OOP.ipynb',
 'Pandas.ipynb',
 'SET.ipynb',
 'web scraping.ipynb']

In [27]:
os.mkdir("NEWFOLDER")  #create new folder

In [28]:
os.chdir("NEWFOLDER") #to go inside this folder

In [29]:
pwd #

'D:\\Python class 4 30 contd\\NEWFOLDER'

In [30]:
cd ..

D:\Python class 4 30 contd

In [38]:
n = int(input("enter n = "))
for i in range(1,n+1):
    x = int(input(f"Enter {i} value"))
    print(x)

enter n = 3
Enter 1 value22
22
Enter 2 value333
333
Enter 3 value555
555

In [39]:
sub = ['physics','chem','maths']
n = int(input("enter n = "))
for i in range(n):
    x = int(input(f"Enter {sub[i]} value"))
    print(x)

enter n = 3
Enter physics value12
12
Enter chem value55
55
Enter maths value6776
6776

# decorators

In [2]:
def outer_function(fun):
    
    def inner_function():
        x = fun()
    return inner_function()

@outer_function
def hello():
    print("HELLO WORLD")

HELLO WORLD

In [4]:
def strings(func):
    def wrapper():
        fun = func()
        x = fun.lower()
        return x
    return wrapper

@strings
def info():
    return "HELLO WORLD"

info()    #this program starts from here

'hello world'

In [5]:
def strings(function):
    def wrapper():
        fun = function()
        x = fun.lower()
        return x
    return wrapper

def split_strings(function):
    def wrappe():
        fun =function()
        y = fun.split()
        return y
    return wrappe

@split_strings
@strings    #this decorator execute first then goes upwards @split_strings
def info():
    return "HELLO WORLD"

info()    #this program starts from here

['hello', 'world']

In [ ]:
# trello