In [1]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\user\anaconda3\lib\site-packages (2.2.9)

In [2]:
import mysql.connector

In [3]:
database = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "class 4 30"
)

db = database.cursor()

In [4]:
sql = "SELECT* FROM students WHERE Grade = 'B'"
db.execute(sql)
result = db.fetchall()
result

[(6, 'Ram', 'Sharma', 0, 0, 0, 0, 0, 0, 0.0, 'B')]

In [9]:
sql = '''INSERT INTO students (SN, First_name, Last_name, AI, OS, ES, DSAP, EES, Total, Per, Grade) 
VALUES (9, 'Max', 'Stone', 60, 70, 75, 60, 70, 440, 83, 'A')'''
print(sql)
db.execute(sql)
database.commit()

INSERT INTO students (SN, First Name, Last Name, AI, OS, ES, DSAP, EES, Total, Per, Grade)
VALUES (9, 'Max', 'Stone', 60, 70, 75, 60, 70, 440, 83, 'A')

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'Name, Last Name, AI, OS, ES, DSAP, EES, Total, Per, Grade)
VALUES (9, 'Max',...' at line 1

In [7]:
sql = f'''UPDATE Students SET First_name = Ramaaa WHERE SN  = 6'''
db.execute(sql)
database.commit()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'Name = Ramaaa WHERE SN  = 6' at line 1

In [1]:
First_name = input("Enter first name")
Last_name = input("Enter last name")
AI = int(input("Enter AI"))
OS = int(input("Enter OS"))
ES = int(input("Enter ES"))
DSAP = int(input("Enter DSAP"))
EES = int(input("Enter EES"))

Total = AI+OS+ES+DSAP+EES

Per = Total/5

if Per>=80:
    Grade = 'A'
elif Per>=60:
    Grade = 'B'
elif Per>=45:
    Grade = 'c'
else:
    Grade = 'F'
    
sql = '''INSERT INTO students (First Name, Last Name, AI, OS, ES, DSAP, EES, Total, Per, Grade) 
VALUES ('{First_name}', '{Last_name}', {AI}, {OS}, {ES}, {DSAP}, {EES}, {Total}, {Per}, '{Grade}')'''
db.execute(sql)
database.commit()

SyntaxError: invalid syntax (2196944700.py, line 1)