In [ ]:
# Set
# -no indexing
# -Unordered
# -No duplicate value
# -Mutable

In [1]:
s = set()
type(s)

set

In [8]:

ss = {}

type(ss)

dict

In [14]:
s = {123,45,4444,23,2,445,2}
s

{2, 23, 45, 123, 445, 4444}

In [16]:
s = {'apple','ball','ant','xray'}
print(s)

{'apple', 'xray', 'ball', 'ant'}

In [17]:
s[0]  #no indexing

TypeError: 'set' object is not subscriptable

In [18]:
s = {123,45,4444,23,2,445,2,2,45,123,4444,23}  #no duplicate value
print(s)

{2, 23, 123, 4444, 45, 445}

In [19]:
a = {[1,2,3],[5,5,6]}  # no list inside set
print(a)

TypeError: unhashable type: 'list'

In [20]:
a = {(1,2,3),(5,5,6)}  #tupple inside set
print(a)

{(1, 2, 3), (5, 5, 6)}

In [22]:
a = {{1,2,3},{5,5,6} } # no set inside set
print(a)

TypeError: unhashable type: 'set'

In [24]:
s = set()
s.add('apple')
s.add('orange')
s

{'apple', 'orange'}

In [27]:
s = {123,45,4444,23,2,445,2}
s.remove(123)
s.add("apple")
s
#<<we can add and remove>>

{2, 23, 4444, 445, 45, 'apple'}

In [32]:
# intersection 

ms = {'Bill','John','Max','Cal','Mike'}
apple = {'Jobs','Joey','Ross','John','Mike'}

ms.intersection(apple)

{'John', 'Mike'}

In [35]:
# union 

ms = {'Bill','John','Max','Cal','Mike'}
apple = {'Jobs','Joey','Ross','John','Mike'}

union = ms.union(apple)
union

{'Bill', 'Cal', 'Jobs', 'Joey', 'John', 'Max', 'Mike', 'Ross'}

In [36]:
# difference
U = {'Bill', 'Cal', 'Jobs', 'Joey', 'John', 'Max', 'Mike', 'Ross','Moon','Zeke'}
ms = {'Bill','John','Max','Cal','Mike'}
apple = {'Jobs','Joey','Ross','John','Mike'}

print(ms-apple)
print(apple-ms)
print(U-union)

{'Bill', 'Max', 'Cal'}
{'Joey', 'Ross', 'Jobs'}
{'Zeke', 'Moon'}

In [46]:
a = {1,2,3,4,5,6,7,8}
b = {2,4,6}
print(b-a)

b.issubset(a)

set()

True

In [45]:
a.issuperset(b)

True